@page "/"

<div class="container-fluid">
  <div class="row" >
    <header>
      <PageHeader />
    </header>
  </div>

  <div class="row">

    @if (CurrentFilter is not null)
    {
      <ViewVideoList Filter=@CurrentFilter />
    }
    else
    {
      <Loading Message="Loading..." />
    }
  </div>

</div>
