<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <EditFilter />
    </div>
    <div class="card-body">
      Groups : @GroupCount - Video : @VideoCount
    </div>
  </div>
</div>