@page "/DisplayFilterAndList"

<div class="container-fluid">

  <div class="row">
    <header>
      <PageHeader />
    </header>
  </div>

  <div class="row mb-3">
    <EditFilter />
  </div>

  <View_MoviesInPages Filter=@CurrentFilter />

</div>
