@page "/login"

<PageHeader PageTitle="User login" />

<div class="form-signin">
  <EditForm Model="@UserAccountSecret" OnSubmit="DoLogin">
    <svg class="bi" width="32" height="32" fill="currentColor">
      <use xlink:href="bootstrap-icons.svg#shop" />
    </svg>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating p-2">
      <input type="text" class="form-control" id="id" placeholder="your id" @bind="@UserAccountSecret.Name">
      <label for="floatingInput">Identifier</label>
    </div>
    <div class="form-floating p-2">
      <input type="password" class="form-control" id="password" placeholder="Password" @bind="@Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3 p-2">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
  </EditForm>
</div>