@using BLTools


<tr>
  <td>
    @Movie.Name
  </td>
  <td>
    <span class="badge rounded-pill bg-danger text-light">@Movie.OutputYear</span>
  </td>
  <td>
    @SizeInMb MB
  </td>
  <td>
    @Movie.StoragePath
  </td>
</tr>

