.VideoList {
  border: 1px;
  -webkit-box-shadow: 5px 5px 25px -6px rgba(0,0,0,0.46);
  box-shadow: 5px 5px 25px -6px rgba(0,0,0,0.46);
}

.ActualPage {
  cursor: none;
  vertical-align: central;
  text-align: center;
}