@using BLTools

<div class="container">
  <table class="col-12">
    <tr class="col-12">
      <td class="col-5">
        @Movie.Name
        <span class="badge rounded-pill bg-danger text-light">@Movie.OutputYear</span>
      </td>
      <td class="col-7">
        @Movie.StoragePath.BeforeLast("/")
      </td>
    </tr>
  </table>

</div>
